body {
	color: rgb(63, 63, 63);
	font-family: "Open Sans", sans-serif;
	margin: 0;
}

header {
	background: rgb(48, 98, 48);
	padding: 1.5em;
}

header a {
	color: white;
	font-size: 1.5em;
	text-decoration: none;
}

main {
	margin: 0 auto;
	max-width: 990px;
	padding: 1.5em;
}

h1 {
	font-size: 2.5em;
	font-weight: 300;
	letter-spacing: -0.02em;
	line-height: 1.03;
	margin: 0;
	padding-bottom: 0.12em;
}

h2 {
	font-size: 1.45em;
	font-weight: 600;
	margin: 0;
}

div.date {
	color: grey;
	font-size: 0.9375em;
	margin-bottom: 1.75em;
}

ul {
	list-style-type: square;
}

b, label {
	font-weight: 600;
}

code {
	background: rgb(247, 247, 247);
	border: 1px solid grey;
	border-radius: 2px;
	font-size: 1em;
	padding: 2px;
	white-space: nowrap;
}

figure {
	font-style: italic;
	margin: 3em 1em;
	text-align: center;
}

main a:link, main a:visited {
	color: rgb(64, 120, 192);
	text-decoration: none;
}

main a:hover, main a:active {
	text-decoration: underline;
}

p.github {
	font-weight: bold;
	margin: 3em 0;
	text-align: center;
}