body {
	background-color: rgb(254, 255, 254);
	color: rgb(63, 63, 63);
	font-family: "Open Sans", sans-serif;
	margin: 0;
}

main, header > div {
	margin: 0 auto;
	max-width: 896px;
}

header {
	padding: 40px;
}

main {
	margin-bottom: 40px;
	margin-top: 40px;
}

/* ------ */
/* Header */
/* ------ */

header {
	background-color: seagreen;
}

header > div > div {
	margin-top: 24px;
	padding-left: 16px;
}

header > div > div > a {
	margin-right: 1em;
}

header a:link, header a:visited {
	color: rgb(229, 255, 229);
	text-decoration: none;
}

header a:hover, header a:active {
	text-decoration: underline;
}

header h1 a:hover, header h1 a:active {
	text-decoration: none;
}

nav.prev_next {
	display: table;
	margin: 40px 0 33px 0;
	width: 100%;
}

nav.prev_next > div {
	display: table-cell;
	width: 33.3333%;
}

/* ----- */
/* Other */
/* ----- */

h1 {
	font-size: 2.5em;
	font-weight: 300;
	letter-spacing: -0.02em;
	line-height: 1.03;
	margin: 0;
	padding-bottom: 0.12em;
}

h2 {
	font-size: 1.45em;
	font-weight: 600;
	margin: 1.45em 0 1em 0;
}

div.meta {
	color: rgb(130, 131, 130);
	font-size: 0.9375em;
	margin-bottom: 1.75em;
	margin-top: 8px;
}

ul {
	list-style-type: square;
}

ol, ul {
	padding-right: calc(40px - 1em);
}

b, label {
	font-weight: 600;
}

p code {
	background: rgb(252, 252, 252);
	font-size: 1em;
	padding: 2px 4px;
	white-space: nowrap;
}

code {
	border: 1px solid rgb(63, 63, 63);
	border-radius: 2px;
}

figure {
	margin: 3em 1em;
	text-align: center;
}

figure > table {
	margin: 5px auto;
	text-align: left;
}

figcaption {
	font-style: italic;
}

main a:link, main a:visited {
	color: rgb(64, 120, 192);
	text-decoration: none;
}

main a:hover, main a:active {
	text-decoration: underline;
}

p.github {
	margin: 3em 0 4.5em 0;
	text-align: center;
}

table {
	background: rgb(252, 252, 252);
	border: 2px solid black;
	border-collapse: collapse;
}

tr, th, td {
	border: 1px solid black;
}

th {
	background: rgb(232, 232, 232);
	font-weight: 600;
	text-align: center;
}

th, td {
	padding: 1px 4px;
}

td {
	vertical-align: top;
}